.cont{
    display: grid;
    grid-template-areas:
    "photo data"
    "but data";
    grid-template-columns: 0.5fr 4fr;
    margin: 10px;
}

.photo{
    grid-area: photo;
}

.photo img{
    width: 70px;
    height: 70px;
}

.but{
    grid-area: but;
    padding:0px 10px;
}

.data{
    background-color: burlywood;
    display: grid;
    grid-template-areas:
    "name coun"
    "st city"; 
    max-width: 70%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}

.name{
    grid-area:name;
}
.country{
    grid-area:coun;
}
.status{
    grid-area:st;
}
.city{
    grid-area:city;
}

.selectedPage{
    font-weight: bold;
    border: 1 solid black;
    background-color: aquamarine;
    padding-left: 1px;
    
    padding-top: 0px;
    margin: 0 auto;
}

