
.nav {
  grid-area: nav;
  background-color: blueviolet;
  height: 100vh;
}

.item {
  font-size: 24px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 30px;
  color: white;
}

.item a{
  color:white;
  text-decoration: none;
}

.item a.active{
  color: gold;
  
}